header{
  @include clearfix;
  width: 100%;
  position: relative;
  .utility-logo-group{
    width: 10em;
    position: absolute;
    top: 0;
    right: 0;
  }
  .header-utilities{
    float: left;
  }
  .logo-mcad{
    width: 7em;
    float: right;
  }
}
