
// variables.scss


// typeface
$font-stack: "franklin-gothic-urw", sans-serif;

// Colors
$white: #fff;
$black: #333;
$gray-light: #ccc;
$gray-lighter: #eee;
$color-logo-sdo: #23CDFD;

// Category Colors
$blue: #0AF5FD;
$red: #E62620;
$pink: #EA0094;
$green: #00EA90;
$yellow: #D5DC00;
$purple: #D43BEF;
