.article-block {
  width: 32%;
  height: 20em;
  background: linear-gradient(red, transparent);
  padding: 1em;
  color: white;
  &:hover{
    background: red;
  }
  .post-date{
    float: right;
  }
  .post-date,
  .category{
    margin: 0;
  }
  h1 {
    margin: 0;
    font-size: 1.8em;
    line-height: 1;
  }

  img{
    z-index: -10;
    max-width: none;
  }
}
