// main.scss


@import "variables";
@import "mixins";
@import "globals";

//modules
@import "article-block";
@import "page-header";
@import "css-module";
@import "categories";
@import "main-nav";
@import "logo-mcad";
@import "page-footer";
@import "header";
@import "social-media";
@import "utility-nav";
