.social-nav{

  h2 {
    @include visuallyhidden;
  }

ul{
  @include clearfix;
  border: 1px $gray-light;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li{
  float: left;
  margin-right: 1em;
  padding: 0 0.01em;
  border-bottom: 0.4em solid transparent;
}
}
